html{
    /*overflow-y: auto; */
    overflow-x: hidden;
}

body{
	background-color: #111111;
	color: #f3f3f3;
	margin: 0px; 
    padding: 2% 8% 2% 8%;
    
}

.navbar-inverse {
    background-color: #111;
}

.logo{
    width: 220px;
    height: 220px;
}

#myNavbar {
    position: relative;
    /*background-color: red;*/
}

.nav {
    position: absolute; 
    bottom: -20%; 
    right: 0;
    font-size: 30px;
}

/*MAIN*/
main{
    padding: 2%;
}

ul{
	list-style: none;
	padding-left:0;
}

li{
    margin-bottom: 10%;
}

.imgcontainer {
	display: inline-block;
    width:33%;
    margin-bottom: 3%;
}

.grid{
	width: 100%;;		
	box-shadow: 5px 5px black;
}

p.imgtext {
    font-size: 18   px;
	text-align:left;
	color:#737373;
}

span.imgtext{
    font-size:35px;
    vertical-align: middle;
    color: white;
}

/*FORMS*/
.form-control{
    background-color: inherit;
    color: white;
    overflow-y: hidden;
    border-color: #111111;
}


/*Footer*/

footer{
    position:absolute;
    bottom:0;
	/*float: left;*/
	width: 100%;
}

.footerwrap{
	position: relative;
	text-align: center;
}

.footerlogo{
	width: 100px;
	height: 100px;
}

a:focus, a:hover {
    text-decoration: none;
}
