body{
	background-color: #111111;
	color: #f3f3f3;
}

p {
    margin: 0 0 0px;
}

.logo{
    width: 150px;
    height: 150px;
    float:right;
}
.navbar{
    margin-bottom:0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 3px;
}

.navbar-toggle{
    float:left;
    margin-top:15%;
    position: relative;
}

.navbar-header{
    padding: 5%;
    border-bottom-style: solid;
    border-bottom-color: #bfbfbf;
}

.navbar-inverse {
    background-color: #111;
}


/*MAIN*/
main{
    padding: 5%;
}
.wrap{
     margin-top:0;
}

ul{
	list-style: none;
	padding-left:0;
}

li{
    margin-bottom: 10%;
}

.imgcontainer {
	display: inline-block;
    width:100%;
    margin-bottom: 10%;
}

.grid{
	width: 100%;;		
	box-shadow: 5px 5px black;
}

p.imgtext {
    font-size: 18   px;
	text-align:left;
	color:white;
}

span.imgtext{
    font-size:35px;
    vertical-align: middle;
    color: white;
}


/*FORMS*/
h2{
    margin-top: 0
}

.form-control {
    font-size: 20px
}


/*Footer*/

footer{
	float: left;
	width: 100%;
}

.footerwrap{
	position: relative;
	text-align: center;
    border-top-style: solid;
    border-top-color: #bfbfbf;
	/*background-color: blue;*/
}

.footerlogo{
	width: 75px;
	height: 75px;
}
